# Python Virtual Environment
.venv/
venv/
env/

# Documentation / Local Documents
documents/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db